.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  margin-top: 1rem;
  font-weight: bold;
  display: flex;
}

input[type='email'],
input[type='text'],
input[type='text-area'] {
  width: 400px;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid #edf2f7;
  background-color: #f7fafc;
  color: #2d3748;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (prefers-color-scheme: dark) {
  input[type='email'],
  input[type='text'],
  input[type='text-area'] {
    background-color: #2d3748;
    border-color: #4a5568;
    color: white;
  }

  input[type='email']::placeholder,
  input[type='text']::placeholder,
  input[type='text-area']::placeholder,
  select,
  textarea {
    color: #a0aec0;
  }
}

input[type='email'],
input[type='text'],
input[type='text-area'],
textarea,
select {
  width: 400px;
}

input[type='text-area'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  border: 2px solid #edf2f7;
  color: #4a5568;
  border-radius: 10px;
  resize: vertical;
  background-color: #f7fafc;
  box-sizing: border-box;
  padding: 0.65rem 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto,
    noto, 'segoe ui', arial, sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid #4299e1;
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 2px solid #ff7d87;
  box-shadow: none;
}

input[type='submit'],
input[type='reset'],
input[type='button'],
button {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #4a5568;
  border: 2px solid #4a5568;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: initial;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out, transform 200ms ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

@media (prefers-color-scheme: dark) {
  input[type='submit'],
  input[type='reset'],
  input[type='button'],
  button {
    background-color: white;
    border: 2px solid white;
    color: #2d3748;
  }
}

@media (hover: hover) {
  input[type='submit']:hover,
  input[type='reset']:hover,
  input[type='button']:hover,
  button:hover {
    cursor: pointer;
    background-color: #2d3748;
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  input[type='submit']:hover,
  input[type='reset']:hover,
  input[type='button']:hover,
  button:hover {
    cursor: pointer;
    background-color: #e2e8f0;
  }
}

button {
  margin-top: 1rem;
}

button:focus-visible,
input[type='submit']:focus-visible,
input[type='reset']:focus-visible,
input[type='button']:focus-visible {
  border-color: #4299e1;
  outline: none;
}
